<%= title "Request Lists" %>

<% if @todo_lists.size > 0 %>
  <ul class="list todo-lists no-bullet">
    <%= render partial: "todo_list", collection: @todo_lists %>
  </ul>
<% else %>
  <%= render partial: 'blank_slate' %>
<% end %>

<button type="button" class="btn btn-default">
  <span class="glyphicon glyphicon-th-list"><%= link_to '  New Request List', new_todo_list_path %></span>
</button>
