<p><%= @user.first_name %> sent you a todo list from Parenting Partners</p>

<h3><%= @todo_list.title %></h3>

<ul>
<% @todo_list.todo_items.each do |todo_item| %>
<li><%= todo_item.content %></li>
<% end %>
</ul>

<p>
Best,<br />
Parenting Partners
</p>