<h1>About the Parenting Partners Site</h1>
<h2>Target Audience</h2>
<p>The Parenting Partners Site is a tool for parents that are raising a child in separate households but would like a one stop place for easy sharing of ideas, messages, events and requests that relate to the child or children that the "partners" are involved in caring for.</p>