  
<div class="center jumbotron">
		<h1>Parenting Partners</h1>
  		<h2>One Stop Communication and Information Site</h2>
  <% if logged_in? %>
  	<h3>Welcome Back</h3>	 
  <% else %>
  	 <%= link_to "Sign up", new_user_path, class: "btn btn-lg btn-primary" %>
      <% end %>
</div>






