<h3> <li>
    <%= link_to contact_path(contact), class: "row" do %>
      <div class="small-10 medium-11 columns truncate" title="<%= contact.relationship %>"><%= contact.relationship%></div>
      <div class="small-2 medium-1 columns"><span class="label label-primary"><%= contact.lastname %></span></div>
  </li>
    <% end %>
  </h3>
