<%= title "Contacts" %>
<ul class="list-unstyled">
<button type="button" class="btn btn-default btn-lg">
<%= link_to ' All Contacts',contacts_path %>
<button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-list"></span>
</button>

  <span class="glyphicon glyphicon-plus"><%= link_to '  New Contact', new_contact_path %></span>
</button>
