<h3>Contacts</h3>

<p><%= link_to contact..relationship, contact %></p>
<p><%= link_toc ontact.lastname, contact%> </p>
<p><%= link_to contact.firstname, contact %></p>
<p><%= link_to contact.phonenumber, contact %> </p>