$midnight-blue: #036;
$gray-medium-light: #eaeaea;
$nebula: #d2e1dd;
$patina: #699;
$venus: #998099;
$iron: #dadbdf;
$regent-grey: #808c99;
$pale-sky: #6b717f;
$wafer: #e1d7d2;
$boquet: #b37399;
$hopbush: #c69;
