@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$midnight-blue: #036;
$gray-medium-light: #eaeaea;
$nebula: #d2e1dd;
$patina: #699;
$venus: #998099;
$iron: #dadbdf;
$regent-grey: #808c99;
$pale-sky: #6b717f;
$wafer: #e1d7d2;
$boquet: #b37399;
$hopbush: #c69;

/* universal */

body {
  background-color: $patina;
  padding-top: 20px;
  margin-top: 30px;
}

section {
  overflow: auto;
}


textarea {
  resize: vertical;
}

.center {
  background-color: $nebula;
  text-align: center;
  h1 {
    margin-bottom: 10px;
    color: $midnight-blue
  }
}
.content {
  text-align: center;

}
title {
  color: $midnight-blue;
  
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  color: $midnight-blue;
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2.0em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */


.navbar {
 background-color: $nebula;
}


/* footer */

footer {

  background: url(asset_path('/images/sunburst.jpg'));
  margin-top: 45px;
  margin-bottom: 45px;
  padding-top: 5px;
  color: $midnight-blue;
  a {
    color: $gray;
    &:hover {
      color: $gray-medium-light;
    }
  }
  .navbar {
    background-color: $midnight-blue;
    padding-top: 10px;
  }
  
  ul {
    float: left;
    list-style: none;
    li {
      float: right;
      margin-left: 15px;
    
    }
  }
}