@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$midnight-blue: #036;
$gray-medium-light: #eaeaea;
$nebula: #d2e1dd;
$patina: #699;
$venus: #998099;
$iron: #dadbdf;
$regent-grey: #808c99;
$pale-sky: #6b717f;
$wafer: #e1d7d2;
$boquet: #b37399;
$hopbush: #c69;
$yellow: #ffff80;
$royal-blue: #0132CC;
$button-green: #99FF99;


/* universal */

body {
  background-color: $yellow;
  padding-top: 20px;
  margin-top: 30px;
  font-family: Tahoma, Geneva, sans-serif;
}



section {
  overflow: auto;
  font-family: Tahoma, Geneva, sans-serif;
}


textarea {
  resize: vertical;
  font-family: Tahoma, Geneva, sans-serif;
  background-color: $wafer;
}

.center {
  background-color: $yellow;
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  h1 {
    color: $midnight-blue;
    font-family: Tahoma, Geneva, sans-serif;
  }
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Tahoma, Geneva, sans-serif;
}



.content {
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;

}

.logo {
  a {
    background: transparent url(asset_path(#{"Sunburst_opt.jpg"})) no repeat center center;
    background-size: contain;
    display: block;
    height: 18px;
  }
}
title {
  color: $midnight-blue;
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  color: $midnight-blue;
  font-family: Tahoma, Geneva, sans-serif;
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2.0em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: $midnight-blue;
  font-family: Tahoma, Geneva, sans-serif;
}


/* header */


.navbar {
 background-color: $royal-blue;
 color: $midnight-blue;
 font-family: Tahoma, Geneva, sans-serif;
}


/* footer */

footer {
  margin-bottom: 45px;
  color: $midnight-blue;
  font-family: Tahoma, Geneva, sans-serif;
  a {
    color: $gray;
    &:hover {
      color: $gray-medium-light;
    }
  }
  .navbar {
    background-color: $royal-blue;
    padding-top: 10px;
  }
  
  ul {
    float: left;
    list-style: none;
    li {
      float: right;
      margin-left: 15px;
    
    }
  }
}